{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartComp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="{% static 'owl_assets//owlcarousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'owl_assets//owlcarousel/assets/owl.theme.default.min.css' %}">

    <style>
        .deal-container{
            border:1px solid #DADADA;
        }
        .owl-carousel a{
            color: black;
        }
        .owl-carousel a:hover{
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="container">
    <div>
        <center>
            <img src="{% static 'images/SMARTCOMP.png' %}" alt="logo" height="30px" style="margin-top:60px; margin-bottom: 50px;">
            <form action="http://127.0.0.1:8000/compare" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Username"
                        aria-describedby="basic-addon1" name="search_item" required>
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <button type="submit" style="border: none; padding:0px; margin:0; background-color: transparent;">
                                <img src="https://img.icons8.com/search" height="18px" style="margin-top: -4px;">
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </center>
    </div>
    <div id="loading" style="margin-top: 200px;">
        <center><img height="40px" src="{% static 'images/loading.gif' %}"/></center>
    </div>
    <div style="margin-top:50px;">
        <div class="owl-carousel owl-theme" id="amazon-carousel">
            <!-- Amazon Deals -->
        </div>
    </div>
    <div style="margin-top:50px;">
        <div class="owl-carousel owl-theme"  id="flipkart-carousel">
            <!-- Flipkart Deals -->
        </div>
    </div>
    <div style="margin-top:50px; margin-bottom: 50px;">
        <div class="owl-carousel owl-theme"  id="snapdeal-carousel">
            <!-- Snapdeal Deals -->
        </div>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Owl Javascript -->
<script src="{% static 'owl_assets/vendors/jquery.min.js' %}"></script>
<script src="{% static 'owl_assets//owlcarousel/owl.carousel.js' %}"></script>

<!-- My Scripts-->
<script src="{% static 'js/best_deals.js' %}"></script>
